<div class="container">
    <div class="row">
        <div class ="col-xs-12">
            <h1>GAME</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <button 
                class="btn btn-button btn-primary"
                (click)="onStart()"
            >START</button>
        </div>

        <label class="col-xs-3" id='boxCounter'>
                <h3>{{counter}}</h3>
        </label>
 
        <div class="col-xs-3">
            <button 
                class="btn btn-button btn-danger"
                (click)="onStop()"
            >STOP</button>
        </div>        
    </div>

</div>
